h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(246, 247, 248);
}
body{
    background-color: rgba(8, 158, 228, 0.418);
}

header{
    background-color: rgba(241, 243, 245, 0.596);
}